<div id="form">
  <h2>Signup My Dude</h2>
  <form action="/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="myman" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Create account</button>

    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
 
    {{!-- error message will be added here --}}
  </form>
</div>